{% extends 'main_template.html' %}
{% load i18n %}

{% block title %}
    <head>
         <title>{% trans "Редактирование метки" %}</title>
    </head>
{% endblock %}

{% block content %}
<div class="container wrapper flex-grow-1">
  <h1 class="my-4">
      {% trans "Изменение метки" %}
  </h1>
  <div>
    <form id="add_form" method="post">
      {% csrf_token %}
        <label for="id_name">{% trans "Имя" %}</label>
          {{ form.name }}
        <br />
      <button type='submit' form="add_form" class="btn btn-primary">{% trans "Изменить" %}</button>
    </form>
  </div>
</div>
{% endblock %}