{% extends 'main_template.html' %}
{% load i18n %}

{% block title %}
    <head>
         <title>{% trans "Добалвение статуса" %}</title>
    </head>
{% endblock %}


{% block content %}

<div class="container wrapper flex-grow-1">
  <h1 class="my-4">
      {% trans "Создать статус" %}
  </h1>
  <div>
    <form id="add_form" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type='submit' form="add_form" class="btn btn-primary">{% trans "Создать" %}</button>
    </form>
  </div>
</div>
{% endblock %}