{% extends 'main_template.html' %}
{% load i18n %}

{% block title %}
    <head>
         <title>{% trans "Список статусов" %}</title>
    </head>
{% endblock %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="text-center alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<div class="container wrapper flex-grow-1">
    <h1 class="my-4 h2">
        {% trans "Статусы" %}
    </h1>
    <a href='{% url "create_status" %}'>{% trans "Создать статус" %}</a>
    <table class="table table-striped mt-2">
    <thead>
        <tr>
        <th scope="col">ID</th>
        <th scope="col">{% trans "Имя" %}</th>
        <th scope="col">{% trans "Дата создания" %}</th>
        <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for status in statuses_list %}
            <tr>
            <th scope="row">{{ status.pk }}</th>
            <td>{{ status.name }}</td>
            <td>{{ status.created_at }}</td>
            <td>
                {% if user.id == request.user.id %}
                    <a href="{% url 'update_status' status.pk %}">{% trans "Изменить" %}</a> <br>
                    <a href="{% url 'delete_status' status.pk %}">{% trans "Удалить" %}</a>
                {% endif %}
            </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}