{% extends 'main_template.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}

{% block title %}
    <head>
         <title>{% trans "Добалвение статуса" %}</title>
    </head>
{% endblock %}

{% block content %}
<div class="container wrapper flex-grow-1">
    <h1 class="my-4">{% translate title %}</h1>
    <form method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">{% trans 'Создать' %}</button>
        {% endbuttons %}
    </form>
</div>
        <h3>попробовал django_table</h3>
{% endblock %}