{% extends 'main_template.html' %}
{% load i18n %}

{% block title %}
    <head>
         <title>{% trans "Список меток" %}</title>
    </head>
{% endblock %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="text-center alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<div class="container wrapper flex-grow-1">
    <h1 class="my-4 h2">
        {% trans "Метки" %}
    </h1>
    <a href='{% url "create_tag" %}'>{% trans "Создать метку" %}</a>
    <table class="table table-striped mt-2">
    <thead>
        <tr>
        <th scope="col">ID</th>
        <th scope="col">{% trans "Имя" %}</th>
        <th scope="col">{% trans "Дата создания" %}</th>
        <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for tag in tags_list %}
            <tr>
            <th scope="row">{{ tag.pk }}</th>
            <td>{{ tag.name }}</td>
            <td>{{ tag.created_at }}</td>
            <td>
                {% if user.id == request.user.id %}
                    <a href='{% url "update_tag" tag.id %}'>{% trans "Изменить" %}</a> <br>
                    <a href='{% url "delete_tag" tag.id %}'>{% trans "Удалить" %}</a>
                {% endif %}
            </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}