{% extends 'main_template.html' %}
{% load i18n %}
{% block title %}
    <head>
         <title>{% trans "Список пользователей" %}</title>
    </head>
{% endblock %}

{% block heading %}
    <h1>{% trans "Список пользователей" %}</h1>
{% endblock %}

{% block content %}
    <div class="container wrapper flex-grow-1">
      <h1 class="my-4">
        {% trans "Пользователи" %}
      </h1>
        <table class="table table-striped">
        <thead>
            <tr>
            <th>ID</th>
            <th>{% trans "Пользователь" %}</th>
            <th>{% trans "Почта" %}</th>
            <th>{% trans "Дата создания" %}</th>
            <th></th>
            </tr>
        </thead>
        <tbody>
        {% if users_list %}
            {% for user in users_list %}
                <tr>
                <th>{{ user.pk }}</th>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.date_joined }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <p>{% trans "Список пользователей пустой" %}</p>
        {% endif %}
        </tbody>
        </table>
    </div>
{% endblock %}