{% extends 'main_template.html' %}
{% load i18n %}
{% block title %}
    <head>
         <title>{% trans "List of users" %}</title>
    </head>
{% endblock %}

{% block heading %}
    <h1>{% trans "List of users" %}</h1>
{% endblock %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="text-center alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
    <div class="container wrapper flex-grow-1">
      <h1 class="my-4">
        {% trans "Users" %}
      </h1>
        <table class="table table-striped">
        <thead>
            <tr>
            <th>ID</th>
            <th>{% trans "User name" %}</th>
            <th>{% trans "Full name" %}</th>
            <th>{% trans "Date of creation" %}</th>
            <th></th>
            </tr>
        </thead>
        <tbody>
        {% if users_list %}
            {% for user in users_list %}
                <tr>
                <th>{{ user.pk }}</th>
                <td>{{ user.username }}</td>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>{{ user.date_joined }}</td>
                <td>
                    {% if user.pk == request.user.pk %}
                        <a href="{% url 'update_user' user.pk %}">{% trans "Change" %}</a> <br>
                        <a href="{% url 'delete_user' user.pk %}">{% trans "Delete" %}</a>
                    {% endif %}
                </td>
                </tr>
            {% endfor %}
        {% else %}
            <p>{% trans "The list of users is empty" %}</p>
        {% endif %}
        </tbody>
        </table>
    </div>
{% endblock %}