{% extends 'main_template.html' %}
{% load i18n %}
{% load bootstrap4 %}
{% block title %}
    <head>
         <title>{% trans "Registration" %}</title>
    </head>
{% endblock %}
{% block content %}
<div class="container wrapper flex-grow-1">
    <h1 class="my-4">{% trans title %}</h1>
    <form method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">{{ 'Зарегестрировать' }}</button>
        {% endbuttons %}
    </form>
</div>
{% endblock %}