{% extends 'main_template.html' %}
{% load i18n %}
{% block title %}
    <head>
         <title>{% trans "Changing the user" %}</title>
    </head>
{% endblock %}
{% block content %}
  <div class="container wrapper flex-grow-1">    
    <h1 class="h2">
        {% trans "Changing the user" %}
    </h1>
    <div>
        <form method="post">
            {% csrf_token %}
{#            {{ form.as_p }}#}
            <p>
            <label for="id_username">{% trans "User name" %}</label>
                  {{ form.username }}
                <span class="help-tooltip">{% trans "Required field. No more than 150 characters. Only letters, numbers and symbols" %} @/./+/-/_.</span>
            </p>
            <p>
            <label for="id_first_name">{% trans "Name" %}</label>
                  {{ form.first_name }}
            </p>
            <p>
            <label for="id_last_name">{% trans "Surname" %}</label>
                  {{ form.last_name }}
            </p>
            <p>
            <label for="id_password1">{% trans "Password" %}</label>
                  {{ form.password1 }}
            <span class="helptext"></span>
            <ul>
                <li>{% trans 'The password should not be too similar to your other personal information.' %}</li>
                <li>{% trans 'Your password must contain at least 8 characters.' %}</li>
                <li>{% trans 'This password is often used.' %}</li><li>{% trans 'The password cannot consist only of digits.' %}</li>
            </ul>
            </p>
            <p>
            <label for="id_password2">{% trans 'Password Confirmation' %}</label>
                  {{ form.password2 }}
            <span class="helptext">{% trans 'To confirm, please enter the password again.' %}</span>
            </p>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Изменить">
            </div>
        </form>
    </div>
  </div>
{% endblock %}