{% extends 'main_template.html' %}
{% load i18n %}
{% block title %}
    <head>
         <title>{% trans "Изменение пользователя" %}</title>
    </head>
{% endblock %}
{% block content %}
  <div class="container wrapper flex-grow-1">    
    <h1 class="h2">
        {% trans "Изменение пользователя" %}
    </h1>
    <div>
        <form method="post">
          {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="{% trans "Обновить" %}">
        </form>
    </div>

  </div>
{% endblock %}